* @pagopa/selfcare-admin @giampiero-ferrara @giulia-tremolada

/libs @pagopa/selfcare-admin @pagopa/selfcare-contributors @giampiero-ferrara @giulia-tremolada
/apps @pagopa/selfcare-admin @pagopa/selfcare-contributors @giampiero-ferrara @giulia-tremolada
/.opex @pagopa/selfcare-admin @pagopa/selfcare-contributors @giampiero-ferrara @giulia-tremolada

/.github @pagopa/selfcare-admin @pagopa/selfcare-contributors @giampiero-ferrara @giulia-tremolada
/infra @pagopa/selfcare-admin @pagopa/selfcare-contributors @giampiero-ferrara @giulia-tremolada
