version: '3.8'
services:

  mongodb:
    image: mongo:latest@sha256:bf5995bcccb65725aa81fd92e68449323c94b96bf1c1fa9f7acbc2a8ad518114
    ports:
      - '27017:27017'
    volumes:
      - "./src/test/resources/db:/docker-entrypoint-initdb.d"