{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "oneid-es-1-p-restapi",
    "description" : "OI description\n\nSome useful links:\n- [One Identity repository](https://github.com/pagopa/oneidentity)\n- [The source API definition for OI](https://github.com/pagopa/oneidentity/blob/master/src/main/resources/openapi.yaml)",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "url" : "https://oneid.pagopa.it",
    "x-amazon-apigateway-endpoint-configuration" : {
      "disableExecuteApiEndpoint" : true
    }
  } ],
  "paths" : {
    "/saml/acs" : {
      "post" : {
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/MODEL0a899b"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "302" : {
            "description" : "302 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/.well-known/openid-configuration" : {
      "get" : {
        "operationId" : "Get_OpenIDDiscovery",
        "responses" : {
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenIDDiscovery"
                }
              }
            }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      },
      "options" : {
        "operationId" : "Options_getOpenIDDiscovery",
        "parameters" : [ {
          "name" : "Access-Control-Request-Method",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Access-Control-Request-Headers",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Origin",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "204" : {
            "description" : "204 response",
            "headers" : {
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/login" : {
      "get" : {
        "parameters" : [ {
          "name" : "response_type",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nonce",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "redirect_uri",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/saml/{id_type}/metadata" : {
      "get" : {
        "parameters" : [ {
          "name" : "id_type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/oidc/register" : {
      "post" : {
        "operationId" : "Post_oidc_register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClientRegistration"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "201 response",
            "content" : { }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/clients/{client_id}" : {
      "get" : {
        "operationId" : "Get_ClientFromClientId",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientFE"
                }
              }
            }
          }
        }
      }
    },
    "/monitor/{type}/status" : {
      "get" : {
        "parameters" : [ {
          "name" : "start",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entityKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MODEL208d3c"
                }
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/login/error" : {
      "get" : {
        "parameters" : [ {
          "name" : "errorCode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/idps" : {
      "get" : {
        "operationId" : "Get_finAllIdps",
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : { }
          }
        }
      }
    },
    "/saml/assertion" : {
      "get" : {
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/oidc/keys" : {
      "get" : {
        "operationId" : "Get_jwk_set_",
        "responses" : {
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MODEL2537bd"
                }
              }
            }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      },
      "options" : {
        "operationId" : "Options_jwk_set_",
        "parameters" : [ {
          "name" : "Access-Control-Request-Method",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Access-Control-Request-Headers",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Origin",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "204" : {
            "description" : "204 response",
            "headers" : {
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/oidc/register/{client_id}" : {
      "get" : {
        "operationId" : "Get_oidc_register_config",
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClientRegistration"
                }
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/status" : {
      "get" : {
        "operationId" : "Get_request_health_check",
        "responses" : {
          "503" : {
            "description" : "503 response",
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : { }
          }
        }
      }
    },
    "/oidc/authorize" : {
      "get" : {
        "operationId" : "Get_request_authorization",
        "parameters" : [ {
          "name" : "state",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nonce",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "response_type",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "idp",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scope",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Forwarded-For",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "redirect_uri",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "302" : {
            "description" : "302 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      },
      "post" : {
        "operationId" : "Post_request_authorization",
        "parameters" : [ {
          "name" : "X-Forwarded-For",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/MODELb3ac74"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "302" : {
            "description" : "302 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/assets/{proxy+}" : {
      "get" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Content-Length" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Content-Type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/asset-manifest.json" : {
      "get" : {
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "location" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/clients" : {
      "get" : {
        "operationId" : "Get_AllClients",
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrayOfClientFE"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/token" : {
      "post" : {
        "operationId" : "Create_request_token",
        "parameters" : [ {
          "name" : "authorization",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/MODELf5d026"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenData"
                }
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "401" : {
            "description" : "401 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "500" : {
            "description" : "500 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "204" : {
            "description" : "204 response",
            "headers" : {
              "Access-Control-Allow-Methods" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "403" : {
            "description" : "403 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "405" : {
            "description" : "405 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Allow" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "406" : {
            "description" : "406 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "429" : {
            "description" : "429 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    },
    "/static/{proxy+}" : {
      "get" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "404 response",
            "headers" : {
              "Cache-Control" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "Pragma" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          },
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Content-Type" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : { }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "MODEL0a899b" : {
        "required" : [ "RelayState", "SAMLResponse" ],
        "type" : "object",
        "properties" : {
          "SAMLResponse" : {
            "type" : "string",
            "description" : "This is the 'SAMLResponse' of the requesting AUTHnreq."
          },
          "RelayState" : {
            "type" : "string",
            "description" : "This is the 'RelayState' which identify the service requested. https://docs.italia.it/italia/spid/spid-regole-tecniche/it/stabile/trasmissione.html"
          }
        }
      },
      "ArrayOfClientFE" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/ClientFE"
        }
      },
      "ClientRegistration" : {
        "type" : "object",
        "properties" : {
          "redirect_uris" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "client_name" : {
            "type" : "string"
          },
          "logo_uri" : {
            "type" : "string",
            "description" : "The RP logo URI",
            "format" : "uri"
          },
          "policy_uri" : {
            "type" : "string",
            "description" : "The privacy policy URI",
            "format" : "uri"
          },
          "tos_uri" : {
            "type" : "string",
            "description" : "The terms of service URI",
            "format" : "uri"
          },
          "default_acr_values" : {
            "type" : "array",
            "description" : "list of the Authentication Context Class References that this RP supports",
            "items" : {
              "type" : "string"
            }
          },
          "saml_requested_attributes" : {
            "type" : "array",
            "description" : "Custom parameter which return all SPID attributes selected, https://docs.italia.it/italia/spid/spid-regole-tecniche/it/stabile/attributi.html",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "MODEL2537bd" : {
        "type" : "object",
        "properties" : {
          "keys" : {
            "type" : "array",
            "description" : "JWK set in JSON array format",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ClientFE" : {
        "type" : "object",
        "properties" : {
          "clientID" : {
            "type" : "string"
          },
          "friendlyName" : {
            "type" : "string"
          },
          "logoUri" : {
            "type" : "string",
            "description" : "The RP logo URI",
            "format" : "uri"
          },
          "policyUri" : {
            "type" : "string",
            "description" : "The privacy policy URI",
            "format" : "uri"
          },
          "tosUri" : {
            "type" : "string",
            "description" : "The terms of service URI",
            "format" : "uri"
          }
        }
      },
      "MODELb3ac74" : {
        "required" : [ "client_id", "idp", "nonce", "redirect_uri", "response_type", "scope", "state" ],
        "type" : "object",
        "properties" : {
          "idp" : {
            "type" : "string",
            "description" : "This is the requested 'idp' to initiate the authentication flow"
          },
          "client_id" : {
            "type" : "string",
            "description" : "This is the 'client_id' of the requesting client. Maximum 255 characters."
          },
          "response_type" : {
            "type" : "string",
            "description" : "MUST be one of the listed available values. Any response_type other than 'code' or 'token' is only supported in conjunction with scope=openid. As per the OAuth specification: 'code' is used for authorization code grant type flow, 'token' is used for implicit grant type flow, 'token id_token' is an extension provided by OpenID Connect, and 'code id_token', 'id_token', and 'none' are extensions provided by OpenID Connect Multiple Response Types",
            "enum" : [ "code", "token", "token id_token", "code id_token", "id_token", "code token", "code id_token token", "none" ]
          },
          "redirect_uri" : {
            "type" : "string",
            "description" : "The 'redirect_uri' that was registered for this client. It is required if multiple redirect_uri's have been registered for this client. If the scope contains openid, this field becomes MANDATORY."
          },
          "scope" : {
            "type" : "string",
            "description" : "Only SCOPE values that were registered for this client will be granted. If only non-matching SCOPE values are requested, the request will fail."
          },
          "state" : {
            "type" : "string",
            "description" : "Value opaque to the server, used by the client to track its session. It will be returned as received."
          },
          "nonce" : {
            "type" : "string",
            "description" : "This is required for response_type 'token id_token'.  Typically, in an OpenID authorization scheme, the nonce represents a cryptographically strong random  string that is used to prevent intercepted responses from being reused."
          }
        }
      },
      "TokenData" : {
        "title" : "TokenData",
        "type" : "object",
        "properties" : {
          "access_token" : {
            "type" : "string",
            "description" : "The Access Token for the given token request"
          },
          "token_type" : {
            "type" : "string",
            "description" : "The Token Type issued"
          },
          "expires_in" : {
            "type" : "string",
            "description" : "The expiry time, in seconds"
          },
          "refresh_token" : {
            "type" : "string",
            "description" : "The refresh token, if applicable"
          },
          "scope" : {
            "type" : "string",
            "description" : "The issued scope"
          },
          "id_token" : {
            "type" : "string",
            "description" : "If the requested SCOPE included 'msso' or 'openid', response includes an id_token"
          },
          "id_token_type" : {
            "type" : "string",
            "description" : "If the requested SCOPE included 'msso' or 'openid', response includes an id_token_type"
          }
        }
      },
      "MODELf5d026" : {
        "required" : [ "code", "grant_type", "redirect_uri" ],
        "type" : "object",
        "properties" : {
          "redirect_uri" : {
            "type" : "string",
            "description" : "Required if grant_type is authorization_code. Must contain a valid auth code"
          },
          "code" : {
            "type" : "string",
            "description" : "Required if grant_type is authorization_code"
          },
          "grant_type" : {
            "type" : "string",
            "description" : "For grant_type=authorization_code: client_id, client_secret, code, and redirect_uri are required.",
            "enum" : [ "authorization_code" ],
            "default" : "authorization_code"
          }
        }
      },
      "OpenIDDiscovery" : {
        "required" : [ "authorization_endpoint", "id_token_signing_alg_values_supported", "issuer", "jwks_uri", "response_types_supported", "subject_types_supported", "token_endpoint" ],
        "type" : "object",
        "properties" : {
          "userinfo_endpoint" : {
            "type" : "string",
            "description" : "URL of the user info endpoint"
          },
          "jwks_uri" : {
            "type" : "string",
            "description" : "URL of JSON Web Key Set document"
          },
          "scopes_supported" : {
            "type" : "array",
            "description" : "list of the OAuth 2.0 scope values that this server supports",
            "items" : {
              "type" : "string"
            }
          },
          "subject_types_supported" : {
            "type" : "array",
            "description" : "list of the Subject Identifier types that this OP supports",
            "items" : {
              "type" : "string"
            }
          },
          "token_endpoint" : {
            "type" : "string",
            "description" : "URL of the OAuth 2.0 token endpoint"
          },
          "id_token_signing_alg_values_supported" : {
            "type" : "array",
            "description" : "list of the JWS signing algorithms (alg values) supported by the OP for the ID Token to encode the Claims in a JWT",
            "items" : {
              "type" : "string"
            }
          },
          "response_types_supported" : {
            "type" : "array",
            "description" : "ist of the OAuth 2.0 response_type values that this OP supports",
            "items" : {
              "type" : "string"
            }
          },
          "claims_supported" : {
            "type" : "array",
            "description" : "list of the Claim Names of the Claims that the OpenID Provider MAY be able to supply values for",
            "items" : {
              "type" : "string"
            }
          },
          "authorization_endpoint" : {
            "type" : "string",
            "description" : "URL of the OAuth 2.0 authorization endpoint"
          },
          "issuer" : {
            "type" : "string",
            "description" : "the identifier of the token's issuer. This is identical to the 'iss' Claim value in ID Tokens"
          },
          "grant_types_supported" : {
            "type" : "array",
            "description" : "list of the OAuth 2.0 Grant Type values that this OP supports",
            "items" : {
              "type" : "string"
            }
          },
          "acr_values_supported" : {
            "type" : "array",
            "description" : "list of the Authentication Context Class References that this OP supports",
            "items" : {
              "type" : "string"
            }
          },
          "token_endpoint_auth_methods_supported" : {
            "type" : "array",
            "description" : "list of Client Authentication methods supported by this Token Endpoint",
            "items" : {
              "type" : "string"
            }
          },
          "token_endpoint_auth_signing_alg_values_supported" : {
            "type" : "array",
            "description" : "list of the JWS signing algorithms (alg values) supported by the Token Endpoint for the signature on the JWT used to authenticate the Client at the Token Endpoint for the private_key_jwt and client_secret_jwt authentication methods. Servers SHOULD support RS256. The value none MUST NOT be used.",
            "items" : {
              "type" : "string"
            }
          },
          "display_values_supported" : {
            "type" : "array",
            "description" : "list of the display parameter values that the OpenID Provider supports",
            "items" : {
              "type" : "string"
            }
          },
          "claim_types_supported" : {
            "type" : "array",
            "description" : "list of the Claim Types that the OpenID Provider supports",
            "items" : {
              "type" : "string"
            }
          },
          "service_documentation" : {
            "type" : "string",
            "description" : "URL of a page containing human-readable information that developers might want or need to know when using the OpenID Provider"
          },
          "ui_locales_supported" : {
            "type" : "array",
            "description" : "Languages and scripts supported for the user interface",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "The OpenID configuration document as defined by the specification: http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata"
      },
      "MODEL208d3c" : {
        "type" : "object",
        "properties" : {
          "entityId" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "start" : {
                  "type" : "string",
                  "description" : "The start timestamp for the status period."
                },
                "end" : {
                  "type" : "string",
                  "description" : "The end timestamp for the status period."
                },
                "status" : {
                  "type" : "string",
                  "description" : "The status value for the specified period.",
                  "enum" : [ "OK", "KO" ]
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "x-api-key",
        "in" : "header"
      }
    }
  }
}