# Sensitive environment variables for registry-proxy devcontainer
# Copy this file to .env and fill in the values — DO NOT commit .env
ANAC_FTP_IP=123
ANAC_FTP_KNOWN_HOST=123
ANAC_FTP_PASSWORD=123
ANAC_FTP_USER=123
APPINSIGHTS_CONNECTION_STRING=123
AZURE_CLIENT_ID=123
BLOB_STORAGE_CONN_STRING=""
AZURE_SEARCH_API_KEY=123
GEOTAXONOMY_API_KEY=123
JWT-BEARER-TOKEN-FUNCTIONS=23
JWT_TOKEN_PUBLIC_KEY=123
NATIONAL_REGISTRY_API_KEY=123
PDND_INFOCAMERE_CLIENT_ID=123
PDND_INFOCAMERE_KID=123
PDND_INFOCAMERE_PRIVATE_KEY=-----BEGIN PRIVATE KEY----- 123 -----END PRIVATE KEY-----
PDND_INFOCAMERE_PURPOSE_ID=123
ONBOARDING_DATA_ENCRIPTION_KEY=0123456789ABCDEF0123456789ABCDEF
ONBOARDING_DATA_ENCRIPTION_IV=bXy0jvL2z6TtXQ==
APPINSIGHTS_CONNECTION_STRING=InstrumentationKey=00000000-0000-0000-0000-000000000000
