version: '3.8'

services:
  #  webhook:
  #    build:
  #      context: ../..
  #      dockerfile: apps/webhook/Dockerfile_local
  #      args:
  #        REPO_SELFCARE: selfcare
  #        REPO_ONBOARDING: selfcare-onboarding
  #        REPO_USERNAME: ${GITHUB_USERNAME}
  #        REPO_PASSWORD: ${GITHUB_TOKEN}
  #    ports:
  #      - "8083:8080"
  #    environment:
  #      - MONGODB_CONNECTION_STRING=mongodb://mongodb:27017
  #      - MONGODB_DATABASE=webhook
  #      - JWT_ISSUER=https://selfcare.pagopa.it
  #      - WEBHOOK_RETRY_MAX_ATTEMPTS=3
  #      - WEBHOOK_RETRY_INITIAL_DELAY=1000
  #      - WEBHOOK_RETRY_MAX_DELAY=10000
  #      - WEBHOOK_TIMEOUT_CONNECT=5000
  #      - WEBHOOK_TIMEOUT_READ=10000
  #      - JWT_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
  #    depends_on:
  #      - mongodb
  #    networks:
  #      - webhook-network

  mongodb:
    image: mongo:latest@sha256:9e52bf8768ae4f59b9ca734845d15cee0e523ced14b900cc3692d241eec9154c
    ports:
      - "27017:27017"
    volumes:
      - "./src/test/resources/db:/docker-entrypoint-initdb.d"
    networks:
      - webhook-network

  mockserver:
    image: mockserver/mockserver@sha256:adec675a93253dcd503cda331dbc8c88383c1c79ceb2370ec9766ad3f010d255
    ports:
      - '1080:1080'
    environment:
      - MOCKSERVER_INITIALIZATION_JSON_PATH=/config/*.json
      - MOCKSERVER_ENABLE_CORS_FOR_API="true"
      - MOCKSERVER_ENABLE_CORS_FOR_ALL_RESPONSES="true"
    volumes:
      - "./src/test/resources/mock:/config"
    networks:
      - webhook-network

networks:
  webhook-network:
    driver: bridge

